{% extends 'layout.html' %}

{% block content %}
<div class="text-center mt-5 p-5 bg-light rounded shadow">
    <h1 class="mb-4">Bienvenido al Sistema de Ventas</h1>
    <p class="mb-4">Gestiona productos y consulta reportes de ventas fácilmente.</p>
    <a href="{{ url_for('agregar') }}" class="btn btn-warning m-2">Agregar Producto</a>
    <a href="{{ url_for('productos') }}" class="btn btn-primary m-2">Productos</a>
    <a href="{{ url_for('inventario') }}" class="btn btn-success m-2">Inventario</a>
    <a href="{{ url_for('reporte') }}" class="btn btn-info m-2">Reporte de Ventas</a>
</div>
{% endblock %}
