{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Historial de Ventas</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta[0] }}</td>
                <td>{{ venta[1] }}</td>
                <td>{{ venta[2] }}</td>
                <td>{{ venta[3] }}</td>
                <td>{{ venta[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
